.wrapper {
  width: 138mm;
  height: 37mm;
  line-height: 4.5mm;
  font-size: 3mm;
  border: 1px solid rgb(0, 0, 0);
  margin: -1px;
  display: flex;
  justify-content: space-between;
  color: rgb(0, 0, 0);
}

.left {
  padding-top: 5mm;
  width: 7mm;
  text-align: center;
  font-weight: bold;
  font-size: 4mm;
  line-height: 6.8mm;
  display: inline-block;
}

.right {
  flex: 1 1 0%;
  padding: 0px 2%;
  border-left: 1px solid rgb(0, 0, 0);
  height: 100%;
  line-height: 6mm;
}
