.choiceWrapper {
  border: 1px solid rgb(0, 0, 0);
  overflow: hidden;
  height: 54mm;
}

.choiceGroup {
  margin-bottom: 2mm;
  float: left;
  width: 31.5mm;
  height: 25mm;
}

.choiceRow {
  height: 5mm;
}

.choiceNo {
  font-size: 14px;
  display: inline-block;
  width: 6mm;
  text-align: right;
  margin-right: 2mm;
  color: rgb(0, 0, 0);
}
